$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-color: #f45642;
  margin: 10px auto auto;
  text-align: center;
}

h1 {
    color: #ffffff;
}

h3 {
    color: #ffffff;
}

#message {
  color: #ffffff;
}

p {
  color: #ffffff;
}

.hidden {
  display: none;
}

.square {
  background-color: #fff;
  display: inline-block;
  font-size: 40px;
  height: 80px;
  margin-top: 2px;
  padding: 25px 10px 10px;
  text-align: center;
  width: 80px;
}

button {
  margin-top: 20px;
  padding: 10px;
}
