$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-color: #f45642;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

.hidden {
  display: none;
}

#startGame {
  margin-top: 5px;
  margin-bottom: 5px;
}

.cell {
  background-color: #fff;
  display: inline-block;
  font-size: 40px;
  height: 80px;
  margin-top: 2px;
  padding: 10px;
  padding-top: 25px;
  text-align: center;
  width: 80px;
}

button {
  margin-top: 20px;
  padding: 10px;
}
